body {
    font-family: 'Kanit', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Kanit', sans-serif;
}
.whiteText{
    color: #ffffff;
}
.btn-default{
    background-color: #6aa8d9;
    color: #ffffff;
    border-color: #6aa8d9;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #ffffff;
    color: #6aa8d9;
    border-color: #6aa8d9;
}
.btn-defaultOutline{
    background-color: #ffffff;
    color: #6aa8d9;
    border-color: #6aa8d9;
}
.btn-defaultOutline:hover, .btn-defaultOutline:focus, .btn-defaultOutline:active, .btn-defaultOutline.active, .open .dropdown-toggle.btn-defaultOutline {
    background-color: #6aa8d9;
    color: #ffffff;
    border-color: #6aa8d9;
}